
.container ul{
	display: flex;
    margin-left: 250px;
    margin-top: -40px;

}

.col6{
	margin-top: 70px;
}


.container ul li {
	list-style: none;

}

.container ul li a{
	margin: 10px;
	font-size:20px;
	}

 .logo h1{
	color: blue;
	font-size: 30px;
}

.text{
	color: blue;
	margin-top:-15px;
}

.loy{
	margin-top: -15px;
	font-weight: bold;
}

.ax{
	font-weight: bold;
}

.gh{
	margin-top: 100px;
}


.bolt{
	font-size:20px;
	max-width: 50%;
	margin-top: 20px; 
}

input{
	border-radius: 25px;
	padding: 10px;
	width: 50%;
	height: 6vh;
	font-size: 10px;
	text-align: center;
}

.enc{
	background-color: black;
	border-radius: 20px;
	width: 12%;
	position: relative;
	top: 1px;
	padding: 16px; 
	color: white;
	right:70px;
	height: 4vh;
	font-size:5px;

}

.text-center{
	margin-top: 100px;
	text-align: center;
	margin-left: 400px;
}


.span{
	color: blue;
}


.dol{
	font-family: rowdies;
	margin-right: 20rem;
}

.Comp{
	width: 40%;
    margin-left: 7rem;
}

.mist{
	width: 20%;
	 margin-left: 10rem;
  }

.ebay{
	width: 30%;
	 margin-left: 10rem;
}

.liveboy{
  width: 40%;
   margin-left: 10rem;
}

.twillo{
	width: 30%;
	margin-left: 10rem;
}


.cont{
	margin-top: 10rem;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
	margin-left: 200px;
	color: blue;
	font-weight: bold;
}

.cont span{
	color: black;
	font-size: 20px;
}

.cas{
	display: flex;
	justify-content: space-between;
	font-size: 15px;
	width: 50%;
    margin-left: 120px;
    margin-top: -20px;


}

.uj{
	margin-left: 20px;
	font-size: 20px;
}